:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-card {
    height:50px;

}
.mat-progress-bar-fill::after {
    background-color: green !important;
}

.content-wrapper{
    height: 100% !important;
}

.btn{
    width: 100px;
}


.mat-typography h4 {
  font: 400 15px/24px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
   margin: 0 0 0 !important;
}
h4{

  letter-spacing: normal;
   margin: 0 !important;
}
