<mat-toolbar color="white">
    <mat-toolbar-row >
        <div fxFlex fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="20px">
            <span color="primary">STARTUP</span>
            <a [routerLink]="[ '/path' ]" routerLinkActive="active">How it works</a>
            <a [routerLink]="[ '/path' ]" routerLinkActive="active">FAQ</a>
            <a [routerLink]="[ '/path' ]" routerLinkActive="active">Become an Investor</a>
            <a [routerLink]="[ '/path' ]" routerLinkActive="active">Referral</a>
            <a [routerLink]="[ '/path' ]" routerLinkActive="active">Rental Finance Application</a>
           
        </div>
        <div fxLayout="row" fxLayoutAlign="flex-end">
            <button class="log-out-wrapper" mat-flat-button color="red">LogOut</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>