<div class="container mt-5">
    <mat-card class="mt-5">
        <mat-card-header fxLayout="row" fxLayoutAlign="center start" class="mb-5">
            <circle-progress
                [percent]="33"
                [maxPercent]="100"
                [showUnits]="true"
                [toFixed]="0"
                [showTitle]="false"
                [title]=""
                [radius]="39"
                [outerStrokeWidth]="3"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#18e756'"
                [innerStrokeColor]="'#1b34ee'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
        </mat-card-header>
    <mat-divider></mat-divider>
        <mat-card-content>
            <mat-nav-list>
                <div class="content-wrapper" fxLayout="column" fxLayoutGap="20px">
                    
                    <button mat-button > 
                        <mat-icon class="mr-3">credit_card</mat-icon>Payment Option</button>
                    <button mat-button >
                        <mat-icon class="mr-3">archive</mat-icon>Financial Details</button>
                    <button mat-button >
                        <mat-icon class="mr-3">home</mat-icon>Rent Information</button>
                
                </div>
            </mat-nav-list>
        </mat-card-content>
    </mat-card>

</div>
