:host {
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

mat-card {
    height: 550px;
    background-color: rgb(1, 1, 26);
    color: white;
    border-radius: 25px;

}

.content-wrapper {
    padding-left: -3em !important;
}
