:host {
    height: 100vh;
    display: flex;
    flex-direction: column;

}

mat-card {
    height: 550px;
    background-color: rgba(9, 9, 56, 0.932);
    color: white;
    border-radius: 25px;

}

.content-wrapper {
    padding-right: 7em !important;
}
